{{#section 'header'}} {{> 52kj/gdkl10/header }}

<div class="app_selectBlockNav" id="app_selectBlockNav">
    <div class="app_selectBlockNav_uls">
        <div class="app_selectBlockNav_lis">
            <span class="active_arrow"></span>
            <span class="content">全部球号<i></i></span>
        </div>
        <div class="app_selectBlockNav_lis">
            <span class="active_arrow"></span>
            <span class="content">全部两面<i></i></span>
        </div>
    </div>

    <div class="app_selectBlockNavCons" style="display: none;">
        <ul data-code="ball" style="display: none;">
            <li><span>第一球</span></li>
            <li><span>第二球</span></li>
            <li><span>第三球</span></li>
            <li><span>第四球</span></li>
            <li><span>第五球</span></li>
            <li><span>第六球</span></li>
            <li><span>第七球</span></li>
            <li><span>第八球</span></li>
            <li class="active"><span>全部球号</span></li>

        </ul>
        <ul data-code="type" style="display: none;">
            <li><span>大小</span></li>
            <li><span>单双</span></li>
            <li class="active"><span>全部两面</span></li>
        </ul>
    </div>
</div>

{{/section}}


<section class="app_luZhu_Scope">
    {{> 52kj/partials/_luzhu }}
</section>


<!--帮助说明弹窗-->
{{> 52kj/partials/help }}

<!--js-->
{{#section 'css'}}
<style>
    .app_luZhu_Scope .app_luZhu_Block .app_luZhu_list {
        overflow: hidden;
    }
    /*.app_public_helpBlock{
          pointer-events:none;
    }*/

    .app_public_helpBlock .ht_windows {
        pointer-events: none;
    }

    .app_luZhu_Scope .app_luZhu_Block .app_luZhu_list table {
        overflow-x: auto;
        overflow-y: hidden;
        /*-webkit-overflow-scrolling: touch;*/
    }
</style>
{{/section}}

<!--JS-->
{{#section 'js'}}
<script type="text/javascript" src="{{cdnUrl}}/static/{{skin}}/js/lottery/gdkl10/bigorsmall.js"></script>
{{/section}}