{{#section 'header'}} {{/section}}

<section class="app_index_Scope">

    <!--视频 start-->
    <div class="app_video_iframeBlock">
        <iframe id="player1" frameborder="no" width="100%" height="640" border="0" marginwidth="0" marginheight="0" scrolling="no" ng-src="http://{{website.videoHostName}}/mobile/pk10/" src="http://{{website.videoHostName}}/mobile/pk10/"></iframe>
    </div>
    <!--视频 end-->

    <!--温馨提示 start-->
    <div class="app_video_tipsBlock">温馨提示：横放手机即可全屏观看，若无法全屏请解除手机系统的屏幕方向锁定再次尝试横放。<span class="tips_close"></span></div>
    <!--温馨提示 end-->


    <div class="app_public_tableBlock">

        <table>
            <tbody>
                <tr>
                    <th>期数</th>
                    <th>时间</th>
                    <th>
                        <div class="app_table_menuBlock table_menuBlock_pk10">
                            <span><i class="active" data-type="number">号码</i></span>
                            <span><i data-type="dx">大小</i></span>
                            <span><i data-type="ds">单双</i></span>
                            <span><i data-type="dz">对子</i></span>
                        </div>
                    </th>
                </tr>
                {{#if historyList}} {{#each historyList}}
                <tr>
                    <td>{{Period}}</td>
                    <td>{{iDateTime DrawingTime}}</td>
                    <td>
                        <div class="app_lotterySection  app_lotteryStyle1">
                            <ul>
                                {{#each NumberList }}
                                <li><span class="num{{this}} bg" numberclass="num{{this}} bg" datatype="{{this}}">{{this}}</span></li>
                                {{/each}}
                            </ul>
                        </div>
                    </td>
                </tr>
                {{/each}} {{else}}
                <tr>
                    <td colspan="3">
                        <p>没有获取到数据</p>
                    </td>
                </tr>
                {{/if}}

            </tbody>
        </table>
    </div>

    <div class="app_public_tableBlock" style="display: none;">
        <table>
            <tbody><tr>
                <th width="20%">期数</th>
                <th width="15%">时间</th>
                <th>冠亚和</th>
                <th>1~5龙虎</th>
            </tr>
            {{#if historyList}} {{#each historyList}}
            <tr>
                <td>{{Period}}</td>
                <td>{{iDateTime DrawingTime}}</td>
                <td>
                <span class="table_history_kaijiang  historyGuanYaHe">
                </span>
                </td>
                <td>
                    <span style="display: none;" class="historyLonghu">{{NumberList}}</span>
                    <span class="table_history_kaijiang  longhu">
                </span>
                </td>
            </tr>
            {{/each}} {{else}}
            <tr>
                <td colspan="4">
                    <p>没有获取到数据</p>
                </td>
            </tr>
            {{/if}}
            </tbody>
        </table>
    </div>


</section>

<div class="Switch_btn" style="position: fixed;"></div>

{{#section 'footer'}}
<!-- 自定脚部内容 -->
{{/section}} {{#section 'js'}}
<script type="text/javascript">
    var pathArray = [
        'public/index',
        'lottery/pk10/video'
    ];

    seajs.use(pathArray, function(publicCallBack, indexCallBack) {
        //publicCallBack.createLoading($('#loading'));
        $(document).ready(function() {
            indexCallBack.init();
        });
    });
</script>
{{/section}}