<!DOCTYPE html>
<html>
<head lang="en">
    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telephone=no" />

    <!-- 优先使用 IE 最新版本和 Chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">

    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">

    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">

    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">

    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">

    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">

    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">

    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" href="../../css/plugInStyle/loading.css">
<link rel="stylesheet" href="../../css/style.css">
<script type="text/javascript" src="../../js/libs/flexible.min.js"></script>
<script type="text/javascript" src="../../js/libs/sea.min.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>


<body class="app_NoMoblie">

<section class="container">

<header>
    <div class="app_headerSection app_headerBg  pinned"></div>
</header>

<section id="loading">

</section>

<section class="app_index_Scope">
    <div class="app_404Block">
        <div class="B_img"></div>
        <div class="B_font">当前没有可用网络！</div>
        <div  class="B_btn">
            <a href="">点击我重试</a>
        </div>
    </div>
</section>


</section>

</body>
</html>



