{{#section 'header'}}
<!-- 自定头部内容， 引入子模板 -->
{{> 52kj/cqssc/header }} {{/section}}

<section class="app_index_Scope">
    <div class="app_lrmAnalyze   app_lrmAnalyze_ball">
        <table class="la_titleBlock">
            <thead>
            <tr class="title">
                <td width="15%">名次</td>
                <td width="25%">热</td>
                <td width="35%">温</td>
                <td width="25%">冷</td>
            </tr>
            </thead>
            <tbody>
            {{#each result}}
            <tr >
                <td class="middle">{{Ball}}</td>
                <td>
                    <div class="numberList">                        
                        {{#each HotList}}
                        <span><i class="num">{{this}}</i></span>
                        {{/each}}
                    </div>
                </td>
                <td>
                    <div class="numberList numWidth">
                        {{#each WarmList}}
                        <span><i class="num2">{{this}}</i></span>
                        {{/each}}
                    </div>
                </td>
                <td>
                    <div class="numberList">
                        {{#each ColdList}}
                        <span><i class="num3">{{this}}</i></span>
                        {{/each}}
                    </div>
                </td>
            </tr>
            {{/each}}

            </tbody>

        </table>
    </div>
</section>

{{> 52kj/partials/help }}

{{#section 'js'}}
<script type="text/javascript">
    var pathArray = [
        'public/index',
        'lottery/cqssc/hotcold'
    ];

    seajs.use(pathArray, function (publicCallBack, indexCallBack) {
      
        $(document).ready(function () {
            indexCallBack.init();
        });

    });

</script>
{{/section}}