 
            <div class="app_footerSection">
                <div class="app_footerSection_btns">
                    <a href=""><span><i  class="pc"></i>电脑版</span></a>
                    <a href=""><span><i  class="phone"></i>触屏版</span></a>
                </div>

                <div class="app_footerSection_remarks">
                    <span class="remarks">易记域名：m.52kjwang.com</span>
                    <span class="remarks">©2016  52开奖网  版权所有</span>
                </div>
            </div>
     