<!DOCTYPE html>
<html>
<head lang="en">
    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telephone=no" />

    <!-- 优先使用 IE 最新版本和 Chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">

    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">

    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">

    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">

    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">

    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">

    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">

    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" href="../../css/plugInStyle/loading.css">
<link rel="stylesheet" href="../../css/plugInStyle/lCalendar.css">
<link rel="stylesheet" href="../../css/style.css">

<script type="text/javascript" src="../../js/libs/flexible.min.js"></script>
<script type="text/javascript" src="../../js/libs/sea.min.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/libs/jquery-1.8.3.min.js"></script>
<script type="text/javascript">

    var pathArray = [
        'src/public/index',
        'src/index/index'
    ];

    seajs.use(pathArray ,function (publicCallBack,indexCallBack) {

        publicCallBack.createLoading($('#loading'));

        $(document).ready(function () {
            indexCallBack.init();

        })

    })

</script>
<body class="app_NoMoblie">

<section class="container">

<header>
        <div class="app_headerSection app_headerBg  pinned"></div>
</header>

<section id="loading">

</section>

<section class="app_index_Scope">
      <div class="app_adSection">
           <div class="app_adSwiper">
                 <ul id="app_swiperContainer">
                     <li><a href=""><img src="../../pic/ad01.jpg" /></a></li>
                     <li><a href=""><img src="../../pic/ad01.jpg" /></a></li>
                     <li><a href=""><img src="../../pic/ad01.jpg" /></a></li>
                 </ul>
           </div>
      </div>
     <div class="app_contentSection">

           <div class="app_colorLis">

                <div class="app_colorLis_title">
                    <div class="app_colorLis_titleLeft">
                          <span class="app_lotteryName">北京赛车PK10</span>
                          <span class="app_periodsNumber"><i>612964</i>期</span>
                     </div>
                    <div class="nextLotteryTime">距下期开奖<i>10 : 59</i></div>
                </div>

               <div class="app_lotterySection  app_lotteryStyle">
                    <ul>
                         <li>
                            <span class="num1"></span>
                        </li>
                        <li>
                            <span class="num2"></span>
                        </li>
                        <li>
                            <span class="num3"></span>
                        </li>
                        <li>
                            <span class="num4"></span>
                        </li>
                        <li>
                            <span class="num5"></span>
                        </li>
                        <li>
                            <span class="num6"></span>
                        </li>
                        <li>
                            <span class="num7"></span>
                        </li>
                        <li>
                            <span class="num8"></span>
                        </li>
                        <li>
                            <span class="num9"></span>
                        </li>
                        <li>
                            <span class="num10"></span>
                        </li>
                    </ul>
               </div>

               <div class="app_billboard">
                   <span>龙</span>
                   <span>虎</span>
                   <span>龙</span>
                   <span>龙</span>
                   <span>龙</span>
                   <span>|</span>
                   <span>冠亚和 :</span>
                   <span>12</span>
                   <span>大</span>
                   <span>双</span>
               </div>

               <div class="app_colorLis_ad">
                    <span class="tips">广告</span>
                    <span class="fontContent">52开奖网和高频彩联盟，牛牛牛！</span>
               </div>

           </div>

           <div class="app_colorLis">

             <div class="app_colorLis_title">
                 <div class="app_colorLis_titleLeft">
                     <span class="app_lotteryName">重庆时时彩</span>
                     <span class="app_periodsNumber"><i>20170417079</i>期</span>
                 </div>
                 <div class="nextLotteryTime">距下期开奖<i>10 : 59</i></div>
             </div>

             <div class="app_lotterySection  app_lotteryStyle2" >
                 <ul>
                     <li>
                         <span>1</span>
                     </li>
                     <li>
                         <span>2</span>
                     </li>
                     <li>
                         <span>3</span>
                     </li>
                     <li>
                         <span>4</span>
                     </li>
                     <li>
                         <span>5</span>
                     </li>
                     <li>
                         <span>6</span>
                     </li>
                     <li>
                         <span>7</span>
                     </li>
                     <li>
                         <span>8</span>
                     </li>
                     <li>
                         <span>9</span>
                     </li>
                     <li>
                         <span>10</span>
                     </li>
                 </ul>
             </div>


               <div class="app_billboard">
                   <span>龙</span>
                   <span>|</span>
                   <span>冠亚和 :</span>
                   <span>12</span>
                   <span>大</span>
                   <span>双</span>
               </div>

             <div class="app_colorLis_ad">
                 <span class="tips">广告</span>
                 <span class="fontContent">52开奖网和高频彩联盟，牛牛牛！</span>
             </div>

         </div>

         <div class="app_colorLis">

             <div class="app_colorLis_title">
                 <div class="app_colorLis_titleLeft">
                     <span class="app_lotteryName">江苏快3</span>
                     <span class="app_periodsNumber"><i>20170417079</i>期</span>
                 </div>
                 <div class="nextLotteryTime">距下期开奖<i>10 : 59</i></div>
             </div>


             <div class="app_lotterySection  app_lotteryStyle3">
                 <ul>
                     <li>
                         <span class="num1"></span>
                     </li>
                     <li>
                         <span class="num2"></span>
                     </li>
                     <li>
                         <span class="num3"></span>
                     </li>
                     <li>
                         <span class="num4"></span>
                     </li>
                     <li>
                         <span class="num5"></span>
                     </li>
                     <li>
                         <span class="num6"></span>
                     </li>
                 </ul>
             </div>


             <div class="app_billboard">
                 <span>龙</span>
                 <span>龙</span>
                 <span>龙</span>
                 <span>龙</span>
                 <span>|</span>
                 <span>总和 :</span>
                 <span>12</span>
                 <span>大</span>
                 <span>双</span>
                 <span>尾小</span>
             </div>

             <div class="app_colorLis_ad">
                 <span class="tips">广告</span>
                 <span class="fontContent">52开奖网和高频彩联盟，牛牛牛！</span>
             </div>

         </div>

         <div class="app_colorLis">

             <div class="app_colorLis_title">
                 <div class="app_colorLis_titleLeft">
                     <span class="app_lotteryName">幸运农场</span>
                     <span class="app_periodsNumber">612964期</span>
                 </div>
                 <div class="nextLotteryTime">距下期开奖<i>10 : 59</i></div>
             </div>

             <div class="app_lotterySection  app_lotteryStyle4">
                 <ul>
                     <li>
                         <span class="num1"></span>
                     </li>
                     <li>
                         <span class="num2"></span>
                     </li>
                     <li>
                         <span class="num3"></span>
                     </li>
                     <li>
                         <span class="num4"></span>
                     </li>
                     <li>
                         <span class="num5"></span>
                     </li>
                     <li>
                         <span class="num6"></span>
                     </li>
                     <li>
                         <span class="num7"></span>
                     </li>
                     <li>
                         <span class="num8"></span>
                     </li>
                     <li>
                         <span class="num9"></span>
                     </li>
                     <li>
                         <span class="num10"></span>
                     </li>
                     <li>
                         <span class="num11"></span>
                     </li>
                     <li>
                         <span class="num12"></span>
                     </li>
                     <li>
                         <span class="num13"></span>
                     </li>
                     <li>
                         <span class="num14"></span>
                     </li>
                     <li>
                         <span class="num15"></span>
                     </li>
                     <li>
                         <span class="num16"></span>
                     </li>
                     <li>
                         <span class="num17"></span>
                     </li>
                     <li>
                         <span class="num18"></span>
                     </li>
                     <li>
                         <span class="num19"></span>
                     </li>
                     <li>
                         <span class="num20"></span>
                     </li>
                 </ul>
             </div>

             <div class="app_colorLis_select">
                 <li><a href="">历史开奖</a></li>
                 <li><a href="">开奖直播</a></li>
                 <li><a href="">推荐计划</a></li>
                 <li><a href="">技巧文章</a></li>
             </div>

             <div class="app_colorLis_ad">
                 <span class="tips">广告</span>
                 <span class="fontContent">52开奖网和高频彩联盟，牛牛牛！</span>
             </div>
         </div>

         <div class="app_colorLis">

             <div class="app_colorLis_title">
                 <div class="app_colorLis_titleLeft">
                     <span class="app_lotteryName">广东快乐十分</span>
                     <span class="app_periodsNumber">612964期</span>
                 </div>
                 <div class="nextLotteryTime">距下期开奖<i>10 : 59</i></div>
             </div>

             <div class="app_lotterySection  app_lotteryStyle2" >
                 <ul>
                     <li>
                         <span>1</span>
                     </li>
                     <li>
                         <span>2</span>
                     </li>
                     <li>
                         <span>3</span>
                     </li>
                     <li>
                         <span>4</span>
                     </li>
                     <li>
                         <span>5</span>
                     </li>
                     <li>
                         <span>6</span>
                     </li>
                     <li>
                         <span>7</span>
                     </li>
                     <li>
                         <span>8</span>
                     </li>
                     <li>
                         <span>9</span>
                     </li>
                     <li>
                         <span>10</span>
                     </li>
                 </ul>
             </div>


             <div class="app_billboard">
                 <span>龙</span>
                 <span>|</span>
                 <span>冠亚和 :</span>
                 <span>12</span>
                 <span>大</span>
                 <span>双</span>
             </div>

             <div class="app_colorLis_ad">
                 <span class="tips">广告</span>
                 <span class="fontContent">52开奖网和高频彩联盟，牛牛牛！</span>
             </div>

         </div>


         <div class="app_skill">
             <div class="app_skill_title">
                 高频彩技巧
             </div>
             <div class="app_skill_Content">
                 <ul>
                     <li><a href="">[北京赛车] </a><a href="">北京福彩赛车pk10技巧之落号的周了...</a></li>
                     <li><a href="">[北京赛车] </a><a href="">北京福彩赛车pk10技巧之落号的周了...</a></li>
                     <li><a href="">[北京赛车] </a><a href="">北京福彩赛车pk10技巧之落号的周了...</a></li>
                     <li><a href="">[北京赛车] </a><a href="">北京福彩赛车pk10技巧之落号的周了...</a></li>
                     <li><a href="">[北京赛车] </a><a href="">北京福彩赛车pk10技巧之落号的周了...</a></li>
                 </ul>
             </div>
         </div>


     </div>
</section>

<footer>
     <div class="app_footerSection">
         <div class="app_footerSection_btns">
             <a href="" ><span><i  class="pc"></i>电脑版</span></a>
             <a href="" ><span><i  class="phone"></i>触屏版</span></a>
         </div>

         <div class="app_footerSection_remarks">
                 <span class="remarks">易记域名：m.pk10we.net</span>
                 <span class="remarks">©2016  高频彩联盟  版权所有</span>
         </div>
     </div>
</footer>

</section>

</body>
</html>



