@charset "utf-8";
/*********************************************公用库**********************************************/
@import "../../libs/Library";
@import "../../libs/codeBlock";
/*********************************************自己图片路径**********************************************/


%TipsArticles_i{
  background: url("../images/public/developer_s/TipsArticles_iconTime.png") no-repeat left center;
  background-size: pxChangeRem(20);
}

%win_title_span{
  background: url("../images/public/developer_s/helpText_icon.png") no-repeat left center;
  background-size: pxChangeRem(28);
}

%win_title_i{
  background: url("../images/public/developer_s/helpText_close.png") no-repeat center;
  background-size: pxChangeRem(24);
}


%numberList1{
  background: url("../images/public/developer_s/cqssc_bg.png") no-repeat 0 0;
  background-size: pxChangeRem(38);
}
%set_title_span{
  background: url("../images/public/developer_s/set_icon.png") no-repeat left center;
  background-size: pxChangeRem(28);
}
%cqssc_redBg{
  background: url("../images/public/developer_s/cqssc_redBg.png") no-repeat;
  background-size: pxChangeRem(38);
}
%cqssc_orangeBg{
  background: url("../images/public/developer_s/cqssc_orangeBg.png") no-repeat;
  background-size: pxChangeRem(38);
}
%cqssc_blueBg{
  background: url("../images/public/developer_s/cqssc_blueBg.png") no-repeat;
  background-size: pxChangeRem(38);
}
%Switch_btnLeft{
  background: url("../images/public/developer_s/Switch_btnleft.png") no-repeat;
  background-size: pxChangeRem(70);
}

%Switch_btnRight{
  background: url("../images/public/developer_s/Switch_btnright.png") no-repeat;
  background-size: pxChangeRem(70);
}

%app_404Block{
  background: url("../images/public/developer_s/404_bg.png") no-repeat;
  background-size: pxChangeRem(640);
}


%app_404Btn{
  background: url("../images/public/developer_s/404_btn.png") no-repeat;
  background-size: pxChangeRem(240);
}
%app_404Btn2{
  background: url("../images/public/developer_s/404_btn2.png") no-repeat;
  background-size: pxChangeRem(240);
}