@charset "utf-8";
/*********************************************公用库*****************************************************/
@import "../../libs/Library";
@import "../../libs/codeBlock";
/*********************************************自己图片路径**********************************************/

%app_logo{
   background: url("../images/public/developer_n/app_logo.png") no-repeat center #f98701;
   background-size: pxChangeRem(192);
}

%app_colorStyle{
    background-image: url("../images/public/developer_n/app_colorStyle1.png");
    background-repeat: no-repeat;
    background-size: pxChangeRem(46) pxChangeRem(460);
}

%app_colorStyle3{
   background-image: url("../images/public/developer_n/app_colorStyle3.png");
   background-repeat: no-repeat;
   background-size: pxChangeRem(48);
}

%app_colorStyle4{
   background-image: url("../images/public/developer_n/app_colorStyle4.png");
   background-repeat: no-repeat;
   background-size: pxChangeRem(50) pxChangeRem(1200);
}

%app_footerPc{
   background-image: url("../images/public/developer_n/app_footer.png");
   background-size: pxChangeRem(34);
   background-repeat: no-repeat;
}
%app_footerPhone{
   background-image: url("../images/public/developer_n/app_footer.png");
   background-size: pxChangeRem(34);
   background-repeat: no-repeat;
}

%app_moreIco1{
    background: url("../images/public/developer_n/app_moreIco1.png") no-repeat center;
    background-size: pxChangeRem(22);
}

%app_selectIco{
  background: url("../images/public/developer_n/app_selectIco.png") no-repeat 0 0;
  background-size: pxChangeRem(21);
}

%app_selectArrow{
  background: url("../images/public/developer_n/app_selectArrow.png") no-repeat 0 0;
  background-size: pxChangeRem(20);
}

%app_lamp{
  background: url("../images/public/developer_n/app_lamp.png") no-repeat 0 0;
  background-size: pxChangeRem(26);
}