<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no ">
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>{{seo.title}}</title>
    <meta name="keywords" content="{{seo.keywords}}" />
    <meta name="description" content="{{seo.description}}" />
    <link rel="shortcut icon" href="http://csj.1396c.com/favicon.ico" />
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<header>
    {{> (iHeader) }}
</header>

<body>
    <div class="main_content">
        {{{content}}}
    </div>
</body>

<footer>
    {{> footer }}
</footer>

</html>
<script type="text/javascript" src="/static/js/common.js"></script>